.pay {
	margin-top: 90px;
	&__wrapper {
		margin-top: 110px;
		display: grid;
		grid-template: 150px / repeat(4, 1fr);
		column-gap: 10px;
	}
	&__item {
		position: relative;
		background-color: $white;
		border-radius: 10px;
		padding: 0 50px;
	}
	.h3 {
		text-align: center;
		margin-top: 77px;
	}
	&__img {
		position: absolute;
		top: -50%;
		left: 50%;
		transform: translateX(-50%);
	}
	&__text {
		text-align: center;
		padding: 0 70px;
		margin-top: 30px;
	}
}
